.modal-shop {
    padding: 10px;
    width: auto;
    background-color: white;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 5px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: -100vh;
    position: fixed;
    z-index: 3;
    left: 0;
    right: 0;
    top: 5%;
    margin: auto;
}

.modal-content {
    border: 0;
}

.modal-shop .modal-header button {
    background-color: transparent;
    border: 0;
    color: rgb(45, 45, 45);
    font-weight: bold;
    font-size: 20px;
    width: 12px;
    padding: 0;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backdrop {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;
    transition: all 0.3s ease-in-out;
    transform: -100vh;
}

@media (min-width: 576px) {
    .modal-shop {
        max-width: 500px;
        margin: 1.75rem auto;
    }
}